body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f1f5f9;
  color: #0f172a;
}

body.dark {
  background: #0b1120;
  color: #e5e7eb;
}

/* cards */
.card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 20px;
}

body.dark .card {
  background: #111827;
}

/* sidebar */
.sidebar {
  background: #0f172a;
  color: white;
}

body.dark .sidebar {
  background: #020617;
}
